html {
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: relative;
}

body {
    margin: 0;
    height: 100%;
}

#myVideo {
    position: fixed;
    right: 0;
    padding: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    margin-top: 0px;
}