body {
  background-image: url(../images/winwin.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

button {
  margin-left: 10%;
  margin-top: 15px;
  width: 20%;
  height: 50px;
  padding: 15px;
  border: none;
  border-radius: 30px;

}

button:hover {
  background-color: rgb(179, 59, 184);
  color: white;
}